*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: .8em;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

/* up-right-btn */
.up-bg{
   height: 7vh;
   
   background-color: black;
}

section.up-right-btn{
    display: flex;
    position: fixed;

    top: 5px;
    right: 5px;

    z-index: 10;
}

.up-btn{
    padding: 5px;
    margin-left: 5px;

    border-radius: 5px;

    color: white;
    background-color: #4a4a4a;
}
/* end up-right-btn */

/* main */
main{
    width: 100%;
    height: 100%;

    background-color: black;
}

.scroll{
    width: 100%;
    height: 80vh;

    overflow-y: auto;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 90%;
    height: 100%;

    margin-right: auto;
    margin-left: auto;
}

.stream{
    height: 100px;
    width: calc(100% / 7 - 3px * 7/6);
    min-width: 100px;
    margin-bottom: 15px;

    background-color: yellow;
}
/* end main */

/* under nav */
.under-bg{
    height: 13vh;

    background-color: black;
}

nav{
    display: flex;
    position: fixed;

    bottom: 0px;
    width: 100%;

    z-index: 10;

    background-color: #222222;
}

.btn-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    margin: 0px 8px;
}

.left-btn{
    justify-content: flex-start;

    width: 24%;
}

.center-btn{
    justify-content: center;
    flex-grow: 1;
}

.right-btn{
    justify-content: flex-end;
    color: red;
    background-color: #4a4a4a;

    width: 12%;
    height: 100%;

    padding: 25px 20px;
}

div i.fa-share-from-square{
    color: #4bc800;
}
/* under nav */
