*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: .8em;
}

.background{
    background-color: black;
    width: 100%;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

/* up-right-btn */
section.up-right-btn{
    display: flex;
    position: fixed;

    top: 5px;
    right: 5px;

    z-index: 10;
}

.up-btn{
    padding: 5px;
    margin-left: 5px;

    border-radius: 5px;

    color: white;
    background-color: #4a4a4a;
}
/* end up-right-btn */

/* under nav */
nav{
    display: flex;
    position: fixed;

    bottom: 0px;
    width: 100%;

    z-index: 10;

    background-color: #222222;
}

.btn-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    margin: 0px 8px;
}

.left-btn{
    justify-content: flex-start;

    width: 24%;
}

.center-btn{
    justify-content: center;
    flex-grow: 1;
}

.right-btn{
    justify-content: flex-end;
    color: red;
    background-color: #4a4a4a;

    width: 12%;
    height: 100%;

    padding: 25px 20px;
}

div i.fa-share-from-square{
    color: #4bc800;
}
/* under nav */
